# Compiler files
cache/
out/
cache/
node_modules/
artifacts/
types/
state.json

deployed-contracts.json

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


# Setting for non zero-installs (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

artifacts-zk/
cache-zk/
zk-libraries.json
